<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <title>Home</title>
</head>
<body>
  <div class="parent">

    <h2> Most Popular Apps </h2>
    <table class="t1">
      <thead>
          <tr>
              <th></th>
              <th class="tableheader">Title</th>
              <th class="tableheader">Description</th>
              <th class="tableheader">MSRP</th>
              <th class="tableheader">Upvotes</th>
          </tr>
      </thead>
      <tbody>
    
          <tr *ngFor = "let app of apps">
              <ng-container *ngIf ="app.price > 1">
                    <td><img class= "applogo" src={{app.imageURL}}></td>
                    <td>{{app.title}}</td>
                    <td>{{app.desc}}</td>
                    <td>{{app.price}}</td>
                    <td>{{app.likes}}</td>
                    <td>
                        <button [routerLink]="['/angshowdetail', app._id]" class="button4">Details</button>
                        <button [routerLink]="['/angupdate', app._id]" class="button4">Edit</button>
                    </td>
                </ng-container>
          </tr>

      </tbody>
    </table>
    <p *ngIf="error">{{error}}</p>
  </div>

  <div class="parent2">

        <h2> Most Popular Free Apps </h2>
        <table class="t1">
          <thead>
              <tr>
                  <th></th>
                  <th class="tableheader">Title</th>
                  <th class="tableheader">Description</th>
                  <th class="tableheader">Upvotes</th>

              </tr>
          </thead>
          <tbody>
        
              <tr class="row" *ngFor = "let app of apps">
                    <ng-container *ngIf ="app.price == 0">
                        <td><img class= "applogo" src={{app.imageURL}}></td>
                        <td>{{app.title}}</td>
                        <td>{{app.desc}}</td>
                        <td>{{app.likes}}</td>
                        <td>
                            <button [routerLink]="['/angshowdetail', app._id]" class="button4" >Details</button>
                            <button [routerLink]="['/angupdate', app._id]" class="button4" >Edit</button>
                        </td>
                    </ng-container>
              </tr>
    
          </tbody>
        </table>
        <p *ngIf="error">{{error}}</p>
      </div>
    
</body>
</html>