<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <title>Pet Details</title>
    </head>
    <body>
      <div class="parent">
        <button [routerLink]="['/']" class="button4">Home </button>

        <h2>{{app?.title}}</h2>
        <img class= "applogo" src={{app?.imageURL}}>
        <div class="words">
            <p><strong>Description:</strong> {{app?.desc}}</p>
            <p><strong>MSRP:</strong> {{app?.price}}</p>

            <p><strong>Likes:</strong> {{app?.likes}}</p>
        </div>
        <button (click)="incrementlike(app, id)" class="button4">Add Like</button>
        <button (click)="removeapp(app)" class="button4">Delete App</button>

        <p *ngIf="error">{{error}}</p>
      </div>
    
    </body>
</html>